@import "./variables";

@mixin buttonStyle($initial-colour, $hover-colour) {
    
    user-select: none;
    -webkit-user-select: none;

    font-size: 18px;
    padding: 2vh;

    cursor: pointer;
    transition: background 0.2s;

    background: none;
    color: $initial-colour;
    border: 1px solid $initial-colour;
    
    border-radius: 6px;

    &:hover {
        background: $initial-colour;
        color: $hover-colour !important;
        border: 1px solid $initial-colour !important;
    }

}

// initial-color, hover-colour
.btn-white {
    @include buttonStyle(white, $red-bg);
}

.btn-red {
    @include buttonStyle($red-bg, white);
}
