@import 'styles/_variables.scss';

$header-height: 10vh;
$navbar-height: 6vh;

.App {
	min-height: 100vh;
	text-align: center;
	background: white;
	opacity: 0;

	@include mobile {
		min-height: 150vh;
	}

	animation: 0.5s fade-in;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}

.blocker {
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background: white;

	
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.desktop-only {
	display: unset;
	
	@include mobile {
		display: none !important;
	}
}

.mobile-only {
	display: none !important;

	@include mobile {
		display: unset;
	}
}

.logo {
	height: 60%;

	cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}




.App-header {
	background-color: #ffff;
	height: $header-height;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 2vh;

	border-bottom: 0.3vh solid $red-bg;

	column-gap: 2.2vw;

	a {
		color: $text-color;
		text-transform: uppercase;
		font-weight: 500;
	}
}

.navbar {
	position: absolute;
	top: $header-height;
	left: 0px;

	height: $navbar-height;
	width: 100vw;

	background: $text-color;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 2vh;
	text-transform: uppercase;

	color: white;
	column-gap: 3vw;

	border-bottom: 1px solid black;

	a {
		color: white;
		text-transform: uppercase;
		font-weight: 500;
	}
}

.divider {
	$divider-height: 100vh - ($header-height + $navbar-height);

	position: absolute;
	top: $header-height + $navbar-height;
	left: 0px;

	height: $divider-height;
	width: 100vw;

	z-index: 200;

	background: black;
	opacity: 0.5;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}