@import '../../styles/variables';

.bg {
    background: $red-bg;
    height: 90vh;

    padding-top: 4vh;
    padding-bottom: 4vh;
}

h1 {
    font-size: 8vh;
    white-space: pre-wrap;

    min-width: 60%;

    width: 50%;

    max-height: 20vh;
    margin: auto;
    line-height: 9vh;

    

    @include mobile {
        font-size: 4vh;
        width: 80%;
        line-height: 2vw;
    }
}

.title {
    color: white;
    text-align: left;

    text-align: justify;
    text-justify: inter-word;
}

.subtext {
    @extend .title;

    font-size: 3vh;
    line-height: 6vh;
    margin-top: 6vh;
    
    height: auto;

    @include mobile {
        font-size: 40px;
        height: auto;
        max-height: 100vh;
    }
}

$left-wall-length: 65vw;
$door-length: 8vw;
.wall-door-container {
    display: flex;

    width: $left-wall-length;

    border-top: 3vh solid white;

    margin-top: 18vh;
    margin-bottom: 4vh;

    
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
}

.right-wall {
    border-top: 3vh solid white;
    width: 99.2 - ($left-wall-length + $door-length);
    position: absolute;
    right: 0px;
    transform: translateY(-3vh);

}

@keyframes door-open {
    0% {
        transform: translateY(-3vh) rotate(-0deg);
    }

    100% {
        transform: translateY(-3vh) rotate(-45deg);
    }
}

.door {
    position: absolute;
    left: $left-wall-length - 1.2;
    border-top: 3vh solid white;
    width: $door-length + 1.2;

    transform-origin: 1.5vh;
    transition: transform 0.2s;

    border-top-left-radius: 1.5vh;
    border-bottom-left-radius: 1.5vh;

    animation: 1s door-open;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translateY(-3vh);
}





.button {
    font-size: 2vh;
    margin-top: 6vh;
    @include mobile {

        margin-top: 12vh;
        margin-bottom: 6vh;
    }
}